<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        {# <h1><a href="index.html">The<span>Event</span></a></h1> #}
        <a href="{{ '/' | locale_url }}" class="scrollto"><img src="/assets/img/ach26-logo.png" alt="Association for Computers and the Humanities" title=""/></a>
      </div>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <!-- <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-search"></i>&nbsp;Search</a> -->
          </li>
            {% if page.lang == 'en' %}
            {% for item in en_navigation.items %}
                {% if item.dropdown %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ item.text }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%for d in item.dropdown %}
                    <li><a class="dropdown-item" href="{{ d.url }}">{{ d.text }}</a></li>
                    {% endfor %}
                    
                  </ul>
                </li>
                {% else%}
                <li>
  
                    <a class="nav-link scrollto" href="{{ item.url | locale_url }}">{{ item.text }}</a>
                </li>
                
              {% endif %}
            {% endfor %}
            {% endif %}
            
            {% if page.lang == 'es' %}
            {% for item in es_navigation.items %}
              {% if item.text == 'Acerca' and not settings.about %}
              {% elif item.text == 'Programa' and not settings.program %}
              {% elif item.text == 'Conferencias' and not settings.speakers %}
              {% elif item.text == 'Socios' and not settings.partners %}
              {% elif item.text == 'Preguntas frecuentes' and not settings.faq %}
              {% else %}
              {% if item.dropdown %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ item.text }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {%for d in item.dropdown %}
                  <li><a class="dropdown-item" href="{{ d.url }}">{{ d.text }}</a></li>
                  {% endfor %}
                  
                </ul>
              </li>
              {% else%}
              <li>

                  <a class="nav-link scrollto" href="{{ item.url | locale_url }}">{{ item.text }}</a>
              </li>
              {%endif%}
              {% endif %}
            {% endfor %}
            {% endif %}
            
            <li>
              {# switch to the equivalent page in the other language (see _data/lang_map.js); fall back to that language's home #}
              {% if page.lang == 'es' %}
                {% set switchEn = lang_map.es2en[page.url] or '/en/' %}
                {% set switchEs = page.url %}
              {% else %}
                {% set switchEn = page.url %}
                {% set switchEs = lang_map.en2es[page.url] or '/es/' %}
              {% endif %}
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button style="color:rgba(202, 206, 221, 0.8);" onclick="location.href='{{ switchEn }}';" type="button" class="btn btn-outline-secondary">EN</button>
                <button style="color:rgba(202, 206, 221, 0.8);" onclick="location.href='{{ switchEs }}';" type="button" class="btn btn-outline-secondary">ES</button>
                </div>
          </li>
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
     

    </div>
  </header><!-- End Header -->

      
